.user-reviews-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review-list {
    list-style-type: none;
    padding: 0;
}

.review-item {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #f0f0f0;
    border-radius: 8px;
}

.review-rating {
    margin-bottom: 10px;
    font-weight: bold;
    color: #ffffff;
}

.review-comment {
    margin-bottom: 10px;
    color: #ffffff;
}

.review-buttons {
    display: flex;
    justify-content: flex-end;
}

.delete-button {
    color: #ffffff;
    background-color: #f44336;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.confirm-button:hover {
    background-color: #d32f2f;
}

.edit-button {
    color: #ffffff;
    background-color: #2196f3;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-button:hover {
    background-color: #1976d2;
}

.rating-stars {
    display: inline-block;
    vertical-align: middle;
}

/* Custom styles for the Rating component */
.rating-stars .react-rating {
    display: inline-block;
    font-size: 24px;
    color: #f8b739; /* Filled star color */
}

/* Empty star */
.rating-stars .react-rating .empty {
    color: #e0e0e0; /* Empty star color */
}

/* Filled star */
.rating-stars .react-rating .full {
    color: #f8b739; /* Filled star color */
}

.confirmation-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .confirmation-box h3 {
    margin-top: 0;
  }
  
  .confirmation-box p {
    margin-bottom: 15px;
  }
  
  .confirmation-box-buttons button {
    margin-right: 10px;
  }
  
  .cancel-button {
    background-color: #ccc;
    color: black;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
  }

  .confirm-button {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
  }
  
  .cancel-button:hover {
    background-color: #999;
  }
  
  
