/* Footer starts */
#footer {
    height: 40vh;
    width: 100%;
    background: linear-gradient(to left bottom, #119f3a 0%, #a3d421 80%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1vw;
    padding: 3 100px;
  }
  #footer > img {
    position: absolute;
    left: 0;
    height: 100%;
    z-index: 0;
  }
  #f1 h3 {
    font-size: 3vw;
    /* -webkit-text-stroke: 2px #fff; */
    color: #000;
    font-family: "Basement Grotesque";
  }
  #f1 #socials {
    margin-left: 6.5vw;
    margin-right: 6vw;
    font-size: 2.2vw;
    -webkit-text-fill-color: #000;
  }
  
  #f1,
  #f2,
  #f3,
  #f4,
  #f5 {
    width: fit-content;
    position: relative;
    z-index: 99;
    /* background-color: red; */
  }
  #f2 h3 {
    font-size: 1.6vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    margin-bottom: 8px;
  }
  
  #f3 h3 {
    font-size: 1.6vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    margin-bottom: 8px;
  }
  #f4 h4 {
    font-size: 1vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 8px;
  }
  #f5 {
    display: flex;
    gap: 1vw;
    margin-top: 1rem;
  }
  #footer a {
    text-decoration: none;
    color: #000;
    font-weight: 800;
  }
  #footer a:hover {
    color: #fff;
    transition: all ease 0.3s;
  }