.main-Hotel-owner {
    margin-left: 280px;
  }
  
  .hotel-owner-card {
    padding: 2vh;
    display: flex;
    min-height: 30vh;
    width: 70vw;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .hotel-owner-card:hover {
    transform: scale(1.03);
  }
  
  .hotel-owner-card img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px 0 0 8px;
  }
  
  .hotel-owner-info {
    z-index: 10;
    padding: 20px;
    width: 100%;
    position: relative;
  }
  
  .hotel-owner-info h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.4rem;
    color: #000000; /* Updated color */
  }
  
  .hotel-owner-info p {
    margin: 5px 0;
    font-size: 1rem;
    color: #666666; /* Updated color */
  }
  
  .carousel-status {
    display: none;
  }
  
  .carousel .thumb {
    display: none;
  }
  
  .price-range {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .price-range span:nth-child(1) {
    font-size: 1rem;
    color: #7e6666;
    text-decoration: line-through red;
    margin-bottom: 5px;
  }
  
  .price-range span:last-child {
    font-size: 2rem;
    margin-bottom: 0;
  }
  
  .editable-hotel input[type="text"]{
    min-width: 65vw;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #fffefe;
    background-color: #333;
    resize: none;
  }
  .editable-hotel textarea {
    min-width: 30vw;
    min-height: 8vh;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 20px;
    color: #fffefe;
    background-color: #333;
    resize: none;
  }
  
  input[type="text"]:focus,
  textarea:focus {
    outline: none;
    border-color: #007bff;
  }
  
 