.user-profile-container {
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 100px;
    /* padding: 20px; */
    /* padding: 120px  0px 0px 40rem; */
    /* background-color: rgba(255, 255, 255, 0.9); */
  }
  .user-details{
    padding: 20px;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .user-profile-container h2 {
    -webkit-text-stroke: 2px white;
    color: black;
    font-size: 3rem;
    font-family: 'Basement Grotesque';
    text-align: center;
    transition: all 0.3s;
  }
  .user-profile-container h2:hover{
    color: #95cc1e;
    -webkit-text-stroke: 2px #95cc1e;
  }
  
  .profile-section {
    margin-bottom: 20px;
  }
  
  .profile-section h3 {
    margin-bottom: 10px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-group button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-group button + button {
    margin-left: 10px; /* Add margin between buttons */
  }
  
  .form-group button:hover {
    background-color: #0056b3;
  }
  
  .success-message {
    color: green;
  }
  
  .error-message {
    color: red;
  }
  