/* Rooms.css */

/* General styles */
.rooms {
  z-index: 10;
}

/* Room list */
.room-list {
  height: 100vh;
  width: 70vw;
}

/* Hotel rooms container */
.hotelrooms-container {
  gap: 30px;
  min-height: 100vh;
  padding: 120px 0px 0px 280px;
  /* padding: 30px; */
}

/* Hotel info */
.hotelrooms-container .hotel-info {
  display: flex;
  justify-content: space-between;
}

/* Rooms and reviews layout */
.leftbig-and-rightsml{
  /* display: flex; */
  /* justify-content: space-between; */
  margin-bottom: 50px;
  gap: 50px;
}

/* Reviews list */
.reviews-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px;
}

.reviews-list p {
  font-size: 1rem;
}

/* Room item */
.room-item {
  width: 65vw;
  min-height: 34vh;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

/* Room details */
.room-details {
  display: flex;
  margin-bottom: 5px;
  gap: 2rem;
}

/* Room image */
.room-details #img {
  height: 300px;
  width: 400px;
}

.room-details img {
  height: 300px;
  width: 300px;
}

/* Room info */
.room-details p {
  margin: 5px 0;
}

.room-details p:first-child {
  font-weight: bold;
}

/* Error message */
.error-message {
  color: red;
  font-style: italic;
}

.reviews-list {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 65vw;
  gap: 15px;
}

.review-info p {
  margin: 0;
  padding: 5px 0;
}


.review {
  justify-content: space-between;
  min-height: 20vh;
  margin-bottom: 20px;
}

.review p {
  margin: 0;
  padding: 5px 0;
}

.review .comment {
  font-weight: bold;
}

.review .rating {
  color: #ffc107; /* Add color for the rating */
}

.put-review {
  margin-top: 20px;
}

.put-review h2 {
  margin-bottom: 10px;
  text-align: left;
}

.put-review label {
  display: block;
  margin-bottom: 5px;
}

.put-review input{
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  background-color: transparent;
}
.put-review textarea {
  width: 50%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

.put-review button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.put-review button:hover {
  background-color: #0056b3;
}
