/* ReservationPage.css */

.reservation-page {
    margin: 100px auto;
    background-color: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .reservation-page h2 {
    -webkit-text-stroke: 2px white;
    color: black;
    font-size: 3rem;
    font-family: 'Basement Grotesque';
    transition: all 0.3s;
  }
  .reservation-page h2:hover{
    color: #95cc1e;
    -webkit-text-stroke: 2px #95cc1e;
  }
  
  .reservation-form {
    max-width: 300px;
    margin: 10px auto;
    padding: 20px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input {
    text-transform: none;
    width: 250px;
    padding: 10px;
    background-color: #444; /* Input background color */
    color: #fff; /* Input text color */
    border: 1px solid #555; /* Input border color */
    border-radius: 20px;
    margin-top: 5px;
  }
  
  


/* CSS */
.submit-button{
    background-color: #95cc1e;
    border: 0;
    border-radius: 56px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
    font-size: 19px;
    font-weight: 600;
    outline: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

.submit-button:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}


@media (min-width: 768px) {
  .button-71 {
    padding: 16px 48px;
  }
}